
@{
    ViewBag.Title = "DisplayCompanyProfil";
}

<h2>DisplayCompanyProfil</h2>
@using (Html.BeginForm())
{
    @Html.Label("Name:") 
    @Html.TextBox( "name", "", null, null)
   
<p>
        <input type="submit" value="Register" />
    </p>
}



