
@{
    ViewBag.Title = "DisplayCompanyProfil";
}

<h2>Display Company Profil</h2>
<fieldset>
    <legend>Company</legend>
       <div class="display-label">
            Hello @ViewBag.Name !
           
       </div>
    <div class="display-label">
        @Html.DisplayName("name")
    </div>
</fieldset>

   

