
@{
    ViewBag.Title = "DisplayCompanyProfil";
}

<h2>Display Company Profil</h2>
<fieldset>
    <legend>Companys</legend>
       <div class="display-label">
            @Html.DisplayName("Name")
       </div>
    <div class="display-label">
        @Html.DisplayName("name")
    </div>
</fieldset>

   

