
@{
    ViewBag.Title = "EditCompanyProfil";
}

<h2>EditCompanyProfil</h2>
@using (Html.BeginForm())
{
    @Html.TextBox("name", "", null, null)
 }
<div>
   
 
    <img src="~/Content/Upload/18300126.jpeg" width="2800" height="1980" alt="Image" />

</div>


