
@{
    ViewBag.Title = "DisplayStudentProfil";
}

<h2>DisplayStudentProfil</h2>

<fieldset>
    <legend>Student</legend>
    <div class="display-label">
        @Html.DisplayName("Name")
    </div>
    
</fieldset>